 .appBar {
    position: absolute;
    background: rgba(163, 176, 189, 0.3);
    border: 0;
    border-radius: 3;
    color: white;
    font-size: 10;
    padding: 0 30px;
 }

 .toolBar {
    width: 90%;
    margin: auto;
 }
.linkStyle {
   color: #ffffff;
   text-decoration: none;
}
.logoHeader {
   
   flex-grow: 1;
}