* {
    margin: 0px;
    padding: 0px;
}

body {
    background: rgb(45, 55, 78);
}

a {
    text-decoration: none;
}
section {
    height: 90vh;
}
.container-md {    
    margin: auto;
    width: 80%;
    background-color: rgb(123, 122, 211);
}
.crs__navbar {
    position: fixed;
    margin: auto;
    width: 80%;
    
}
